# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# IDE/editor
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Credentials & local configs
*.json
*.pem
*.p12
*.key
*.env
.env*
credentials/
secrets/

# Node (if any tooling later)
node_modules/

